$primary: #1ed760;
@import './scss/functions';
@import './scss/variables';

$new-theme-colors:(
    'black': black,
);

$theme-colors:  map-merge($theme-colors, $new-theme-colors);

@import './scss/bootstrap.scss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #696969; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bg-gradient-dark {
    background: radial-gradient(
  circle at right top,
  #00000000,
  #0000005d 50%,
  #000000 75%
);
}

      .fixed-navbar-spotify {
        background-color: rgba(0, 0, 0, 0.301);
        backdrop-filter: blur(10px);
      }
  