$primary: #1ed760;
@import './scss/functions';
@import './scss/variables';

$new-theme-colors:(
    'black': black,
);

$theme-colors:  map-merge($theme-colors, $new-theme-colors);

@import './scss/bootstrap.scss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #696969; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bg-gradient-dark {
    background: radial-gradient(
  circle at right top,
  #00000000,
  #0000005d 50%,
  #000000 75%
);
}

      .fixed-navbar-spotify {
        background-color: rgba(0, 0, 0, 0.301);
        backdrop-filter: blur(10px);
      }
  
// search page

.card-spotify {
      position: relative;
      height: 120px;
      overflow: hidden;
      padding: 16px;
      cursor: pointer;
      border: none;
      transition: transform 0.3s ease;
    }
    .card-spotify:hover {
      filter: brightness(1.1);
    }
    .spotify-card-img {
      position: absolute;
      width: 80px;
      height: 80px;
      bottom: -10px;
      right: -20px;
      transform: rotate(25deg);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      object-fit: cover;
    }
    .fixed-navbar-spotify {
      background-color: rgba(0, 0, 0, 0.301);
      backdrop-filter: blur(10px);
    }

    .table_custom { --bs-table-bg: transparent !important; }

    .custom_width {width: 57.9%}